<!DOCTYPE html>
<html>
<head>

    <title>Inventário</title>
</head>
 {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>

<body>
<div class="bg-light">


     <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">Invetory Management</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">

              <a href="{% url 'display_notebook' %}" class="navbar navbar-brand navbar-dark bg-dark" role="button"> Notebooks </a>
            <a href="{% url 'display_computador' %}" class="navbar navbar-brand navbar-dark bg-dark" role="button"> Computadores </a>
            <a href="{% url 'display_celular' %}" class="navbar navbar-brand navbar-dark bg-dark" role="button"> Celulares </a>


          </li>

          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Procurar">
        </form>
      </div>
    </nav>

<div class="container bg-light">
</div>

    {% block body %}

    {% endblock %}
</div>



</body>
</html>
